
<strong><p><%= @recipe_entry.title %> </p></strong>
<strong><p>Ingredients:</strong> <%= @recipe_entry.ingredients %> </p>
<strong><p> Prep: </strong><%= @recipe_entry.content %> </p>

<% if current_user == @recipe_entry.user %>
<a href="/recipe_entries/<%= @recipe_entry.id %>/edit">Edit Recipe Entry</a>
    <form action="/recipe_entries/<%= @recipe_entry.id %>"method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete this Entry">
    </form>

<% end %>