Recipe show page

<p>Title: <%= @recipe_entry.title %> </p>
<p>Ingredients: <%= @recipe_entry.ingredients %> </p>
<p> Content: <%= @recipe_entry.content %> </p>

<% if current_user == @recipe_entry.user %>
<a href="/recipe_entries/<%= @recipe_entry.id %>/edit">Edit Recipe Entry</a>
    <form action="/recipe_entries/<%= @recipe_entry.id %>"method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete this Entry">
    </form>

<% end %>